<footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <h3 class="footer-heading">GIỚI THIỆU</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <p>MAZIR SHOP</p>
                            </li>
                            <li class="footer-item">
                                <p>Địa chỉ: TDP 2 - TT Phúc Thọ</p>
                            </li>
                            <li class="footer-item">
                                <p>SĐT: 096.966.0215</p>
                            </li>
                        </ul>
                    </div>
                
                    <div class="col-4">
                        <h3 class="footer-heading">THEO DÕI</h3>
                        <ul class="footer-list">
                            <a href="https://www.facebook.com/gaming/MazirGaming">
                                <li class="footer-item">
                                    <i class="fab fa-facebook"></i>
                                    Facebook
                                </li>
                            </a>
                            <a href="https://www.youtube.com/channel/UCIaM7gJrHmSWLr1KQXBVs8A">
                                <li class="footer-item">
                                    <i class="fab fa-instagram"></i>
                                    Instagram
                                </li>
                            </a>
                            <a href="https://www.instagram.com/manhalone99/">
                                <li class="footer-item">
                                    <i class="fab fa-youtube"></i>
                                    Youtube
                                </li>
                            </a>
                        </ul>
                    </div>
                    <div class="col-4">
                        <h3 class="footer-heading">THƯƠNG HIỆU</h3>
                        <div class="div">
                            <img style="width:40%" src="https://scontent.fhan15-2.fna.fbcdn.net/v/t1.6435-9/123080798_158580629270852_6608722687971525213_n.png?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=PCASNbgMOtcAX9JQ51O&_nc_ht=scontent.fhan15-2.fna&oh=00_AT_L51xgQwU0HGhUvMjXKYL07goapzDnfII-JorJMwzXbQ&oe=6306BCBF" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="grid">
                    <p class="footer__text">Bản quyền thuộc Mazir Gaming</p>
                </div>
            </div>
        </footer>