<div class="home mt-4" style="min-height: 530px;">
    <div class="title">
        <h2>TỔNG QUAN</h2>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-4">
                <div class="home-item">
                    <div class="huhu">
                        <h5>Số lượng đơn hàng</h5>
                        <h3>
                            <i class="fa-solid fa-cart-arrow-down"></i>
                            {{totalOrder}}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="home-item">
                    <div class="huhu">
                        <h5>Số lượng tài khoản</h5>
                        <h3>
                            <i class="fa-solid fa-user"></i>
                            {{totalAccount}}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="home-item">
                    <div class="huhu">
                        <h5>Số lượng sản phẩm</h5>
                        <h3>
                            <i class="fa-solid fa-gift"></i>
                            {{totalGift}}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>